.flex {
    /*background-color: lightblue;*/
    display: block;
    padding-top: 12rem;
    padding-left: 30%;
    justify-content: center;
}

.center{
    
    margin: auto;
    width: 70%;
    height: 100vh;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 14px 12px 10px rgb(134, 130, 132);
    
}
.quote-button {
    /*background-color: aqua;*/
}
.quote-button{
    
    width: 60%;
    height: 40px;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    background-color: #0485fd;
    cursor: pointer;
}
.quote-button:hover{
    
    border-color: #6dce95;
    transition: .5s;
    background-color: #6dce95;
}